@charset "utf-8";
/* CSS Document */
html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	background-color: aliceblue;
	height: 100%;
	width: 100%;
}

.search-form {
	color: #eee;
	max-width: 700px;
	margin: 40px auto;
	padding: 10px;
}

input {
	margin: 0;
	border: 10px solid #F7F7F7;
	width: 200px;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
	margin: 0;
	padding: 0;
	position: relative;
}

.suggestions li {
	background: white;
	list-style: none;
	border-bottom: 1px solid #D8D8D8;
	margin: 0;
	justify-content: space-between;
  	text-transform: capitalize;
}

.results-container {
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	background: white;
	width: 100%;
	max-width: 600px;
	height: 500px;
	border: 1px solid #F7F7F7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size: 12px;
}

.loader {
	margin: auto;
	width: 40px;
	height: 40px;
	border: 6px solid;
}

button {
	padding: 5px;
	font-size: 1.5em;
	background-color: darkblue;
	cursor: pointer;
	color: #ffffff;
	border-radius: 5px;
}

h4 {
	text-align: center;
}
